@import '../styles.scss';

body {
  font-family: 'Oswald', sans-serif !important;
  background-color: $light;
  height: 100vh;
}

.sidebar {
  width: 250px !important;
  z-index: 400;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.main-content {
  height: calc(100vh - 188px) !important;
}

.page-content {
  height: calc(100vh - 188px) !important;
  overflow-y: auto;
}